    body {
        margin: 0;
        padding: 0;
    }

    #map {
        width: 100%;
        height: 100vh;
    }

    #toggleTrainStops {
        position: absolute;
        top: 10px;
        left: 10px;
        background: white;
        padding: 10px;
        z-index: 1000;
    }

.leaflet-popup-content-wrapper {
    max-width: 250px; /* Adjust width as needed */
    word-wrap: break-word;
}

.popup-content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-content.show-more {
    max-height: 100px; /* Adjust height for initial view */
    overflow: hidden;
}

.popup-content.show-more.expanded {
    max-height: none;
}

.toggle-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
